{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Подтверждение почты" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">{% trans "Подтвердите Ваш адрес электронной почты" %}</h1>
                <p class="text-center">
                    {% trans "Мы отправили письмо с подтверждением на ваш адрес электронной почты. Перейдите по указанной ссылке, чтобы завершить процесс регистрации." %}
                </p>
                <p class="text-center">
                    {% trans "Если вы не видите письмо с подтверждением в вашем основном почтовом ящике, проверьте папку 'Спам'." %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
