{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">{% trans "Зарегистрируйтесь" %}</h1>
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_email" class="form-label">{% trans "Адрес электронной почты:" %}</label>
                        <input type="email" name="email" class="form-control" required id="id_email">
                    </div>
                    <div class="mb-3">
                        <label for="id_password1" class="form-label">{% trans "Пароль:" %}</label>
                        <input type="password" name="password1" class="form-control" required id="id_password1">
                    </div>
                    <div class="mb-3">
                        <label for="id_password2" class="form-label">{% trans "Пароль (ещё раз):" %}</label>
                        <input type="password" name="password2" class="form-control" required id="id_password2">
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="submit">{% trans "Зарегистрируйтесь" %}</button>
                    </div>
                </form>
                <div class="border-top mt-4 pt-3 text-center">
                    <small class="text-muted">
                        {% trans "Уже зарегистрированы?" %}
                        <a href="{{ login_url }}">{% trans "Войдите." %}</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
